.App {
	text-align: center;
}

body {
	background-image: radial-gradient(orange, black, black);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#header {
	color: white;
}

#loading-message {
	color: white;
	font-weight: bold;
	font-size: 1.3rem;
}

#quiz {
	background-color: rgba(255, 255, 255, 0.52);
	padding: 2em;
	border-radius: 50px;
	max-width: 50vw;
}
